*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family-text;
  line-height: 1.5;
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
}

p {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 設定顯示 2 行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
